
<div class="content1">
  <div class="heading-index">
   <h3>
     Keyword
   </h3>
   <hr></hr>
  </div>
  <div class="keyword-form">
    <div class="form">
    <%= form_tag('/articles/search', method: :get ) do %>
      <input placeholder="Keyword1" type="text" name="title">
    </div>
    <div class="form">
      <input placeholder="Keyword2" type="text" name="title">
    </div>
  </div>
</div>
      <!-- <div>
        <input placeholder="Keyword3" type="text" name="title"> </input>
      </div>
    <h2>
      Date
    </h2>
      <div>
        <input placeholder="Year1" type="text"></input>~<input placeholder="Year2" type="text"></input>
      </div> -->

<div class="search">
      <input type="submit" value="Search">
</div>

    <% end %>
  </div>
</body>