
<div class="content1">
  <div class="heading-index">
   <h3>
     Keyword
   </h3>
   <hr></hr>
  </div>
  <div class="keyword-form">
  <ul>
    <%= form_tag('/articles/search', method: :get ) do %>
    <li>
      <input class="form" placeholder="Keyword1" type="text" name="title">
      </li>
      <li>
      <input class="form" placeholder="Keyword2" type="text" name="title">
      </li>
      </ul>
  </div>
</div>



      <!-- <div>
        <input placeholder="Keyword3" type="text" name="title"> </input>
      </div>
    <h2>
      Date
    </h2>
      <div>
        <input placeholder="Year1" type="text"></input>~<input placeholder="Year2" type="text"></input>
      </div> -->
<input class="search" type="submit" value="Search">
    <% end %>
<div class="blank">
</div>