
<!-- puts Article.find(params[:id]) -->

    <%= @article.title %>
    <%= @article.author %>
    <%= @article.date %>
    <br/>
   <h3>
    Abstract
   </h3>
    <%= @article.abstract %>
   <h3>
    Comment
   </h3>
    <textarea placeholder="text" name="text"></textarea>
    <input type="submit" value="♡">
    