<div class="contents row" >
    <p><%= @username %>'s favourites</p>
    <% @articles.each do |article| %>
        <%= simple_format(article.text) %>
      </div>
    <% end %>
<!--     <%= paginate(@tweets) %> -->
  </div>