
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here .headingke precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 body {
  margin: 0px;
 }

 header {
  height: 63px;
  background-color: #2EEF5F;
 }


 .clearfix:after{
  content: "";
  display: "block";
  clear: both;
 }

 .header_bar {
  height: 63px;
 }

 .home{
  width: 20vw;
  height: 63px;
  line-height: 63px;
  text-align: center;
  float: left;
  font-size: 9px;
 }


i:before {
  width: 20vw;
  height: 63px;
  line-height: 71px;
  color: white;
 }


 .heading{
  width: 60vw;
  height: 63px;
  line-height: 63px;
  font-size: 43px;
  font-family: "CenturyGothic";
  text-align: center;
  color: white;
  float: left;
 }

 .user_nav {
  width: 20vw;
  height: 63px;
  line-height: 50px;
  font-size: 13px;
  text-align: center;
  float: right;
 }

 .grid-6 {
  width: 20vw;
  height: 63px;
  float: right;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
 }

 ul {
 width: 20vw;
 height: 63px;
}

/* index.html
*/

.content1 {
  width: 100vw;
  height: 230px;
  background-color: white;
  margin-top:0;
}

.heading-index {
  width: 100vw;
  height: 60px;
  margin-top: 10px;
  margin-left: 25px;
}

h3 {
  font-size: 27px;
  left: 45px;
  margin:0px;
  line-height: 50px;
  color: #848484;
}

hr {
  top: 0;
  width: 100vw;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  decoration: none;
}

.keyword-form {
  margin-top: 10px;
  margin-left: 30px;
  width: 100vw;
  height: 200vw;
}

.form {
  width: 250px;
  height: 40px;
  left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: black;
  background-color: #DFDFDF;
  font-size: 18px;
}

li {
  list-style:  none;
}

input.search {
  width: 100vw;
  height: 45px;
  background-color: #333333;
  color: white;
  font-size: 18px;
  border:none;
}

}
.blank {
  width: 100vw;
  height: 350px;
  background-color: white;

}

/*
search.html
&
show.html
*/

.article {
  margin-top: 12px
}

.title {
  display: block;
  font-style: verdana;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 14px;
  color: #5C5959;
}
.author {
  font-style: verdana;
  margin-left: 18px;
  margin-right: 18px;
  font-size: 13px;
  color: #5C5959;
}

.date {
  font-family: open sans;
  font-size: 13px;
  color: #5C5959;
}

.inline {
  width: 92vw;
  border: solid;
  border-width: 1px;
  border-color: #E8E8E8;
}

.next-article {
  width: 100vw;
  border-width: 4.75px;
  border-color: #E8E8E8;
  border: solid #E8E8E8;
}

.favourited {
  margin-left: 187.5px;
  color: pink;
}
.nonfavourited {
  margin-left: 187.5px;
}

/*
show.html
*/
.brief-info {
  margin-left: 13px;
  margin-right: 13px;
}
.title-show {
  font-style: verdana;
  font-weight: 600;
  font-size: 17px;
  color: #5C5959;
}

.author-show {
  font-style: verdana;
  font-size: 16px;
  color: #5C5959;
  line-height: 18px;
}

.date-show {
  font-style: verdana;
  font-size: 16px;
  color: #5C5959;
}


.just-title {
  color: #626262;
  font-size: 30px;
  margin-top: 18px;
  margin-left: 30px;
  float:left;
}

.abstract {
  color: #5F5A5A;
  font-size: 20px;
  margin-top: 13px;
  margin-left: 13px;
  margin-right: 13px;
  line-height: 28px;
}



.modal {
  position: absolute;
  width: 375px;
  height: 1685px;
  background: #ddd;
  left: 0px;
  opacity: 0.8;
  top: 0px;
  margin: 0 auto;
  z-index: 1;
  display:none;
}

.comment > i:before {
  color: #5F5A5A;
  margin-left: 138px;
  float: left;
}

.modal-content {
  margin-top: 80px;
}

.modal-header {
  margin-left: 30px;
  margin-top:19px;
  font-size: 30px;
  font-style: verdana;
  float:left;
}

.close-button  {
  margin-right: 50px;
  float: right;
}

.close-button i:before{
  color: black;
}


.edit_favourite textarea {
  resize: none;
  cursor: none;
  background-color: white;
/*  border:black;*/
  border-radius: 6px;
  border-color: black;
  border-width: 3.5px;
  margin-right: 40px;
  margin-left: 40px;
  height: 70px;
  width: 80vw;
  font-size: 19px;
  opacity: 1.0;
  font-family: "arial";
  text-indent: 8px;
}

.modal-footer
.update-click {
  float: left;
}

.update-click input {
  margin-left: 80px;
  font-size: 20px;
  font-family: "arial";
}

.delete-click {
  float: left;
  margin-top: 4px;
}
.delete-click a {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
  font-family: "arial";
}

.modal-body {
  clear: both;
}

/*
sign_up&log_in
*/
.border {
  top: 0;
  width: 100vw;
  border-width: 1px;
  border-color: #E8E8E8;
  margin-top: 0;
  margin-bottom: 0;
}
.contents {
  background-color: #2EEF5F;
  width: 100%;
  height: 100vw;
}

h2 {
  position: absolute;
  top: 80px;
  margin-left: 30px;
  font-size: 30px;
  font-family: "CenturyGothic";
  color: white ;
}

.field{
  background-color: #2EEF5F;
}

.email input {
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}

.password input {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}

.remenber_me input {
  margin-top: 20px;
  margin-right: 55px;
  margin-left: 45px;
  width: 20vw;
  height: 20px;
  size: 70px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #white;
  border-width: 2px;
  font-size: 20px;
}

.field label {
  top: 90px;
  margin-left: 42px;
  font-family: "CenturyGothic";
  font-size: 25px;
  color: white;
}

.email label {
 position: absolute;
 top: 135px;

}

.password label {
 position: absolute;
 top: 240px; 
}

.remenber_me label {
  position: absolute;
 top: 330px;
 font-size: 20px;
  display: block;
}

.actions {
  margin-top: 50px;
  width: 100vw;
  height: 45px;
  background-color: #333333;
  border:none;
  size: 45px;
  text-align: center;
}

.actions input {
  color: white;
  font-size: 18px;
  line-height: 45px;
  height: 45px;
}

.bottom-log-in {
  width: 375px;
  height: 500px;
  background-color: #2EEF5F;
}

.username-new input {
  margin-top: 70px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}



.usename-new label {
 position: relative;
 top: 150px;
}

.email-new input{
 margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}

.email-new label {
 position: relative;
 top: 135px;
}

.password-new input{
 margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}

.password-new label {
 position: absolute;
 top: 135px;
}

.password_confirmation-new input{
 margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}

.password_confirmation-new label {
 position: absolute;
 top: 135px;
}

.actions-new {
 margin-top: 50px;
  width: 100vw;
  height: 45px;
  background-color: #333333;
  border:none;
  size: 45px;
  text-align: center;
}

.actions-new input {
  color: white;
  font-size: 40px;
  line-height: 5px;
}

.field input {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}

.form-sign_up label {
  display: inline-block;
  font-family: "arial";
  width: 80px;
  height: 80px;
  margin: 0 auto;
