
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here .headingke precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 body {
  margin: 0px;
 }

 header {
  height: 63px;
  background-color: #2EEF5F;
 }


 .clearfix:after{
  content: "";
  display: "block";
  clear: both;
 }

 .header_bar {
  height: 63px;
 }

 .search-button{
  width: 20vw;
  height: 63px;
  line-height: 63px;
  text-align: center;
  font-size: 9px;
  float: right;

 }


i:before {
  width: 20vw;
  height: 63px;
  line-height: 71px;
  color: white;
 }


 .heading{
  width: 60vw;
  height: 63px;
  line-height: 63px;
  font-size: 43px;
  font-family: "CenturyGothic";
  text-align: center;
  color: white;
  float: left;
 }

.open-bar {
  height: 63px;
  margin-right: 25px;
  line-height: 63px;
  float: right;
}

.bar {
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  top: 63px;
  right: 70px;
  opacity: 1.0;
  height: 63px;
  margin-right: 25px;
  line-height: 63px;
  float: right;
  z-index: 2;
  display: none;
}
/*
.open-session {
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  top: 63px;
  right: 70px;
  opacity: 1.0;
  
  display:none;
}*/

.closed-session {
  position: absolute;
  width: 375px;
  height: 1685px;
  background: #ddd;
  left: 0px;
  opacity: 0.8;
  top: 0px;
  margin: 0 auto;
  z-index: 1;

}
 .user_nav {
  width: 20vw;
  height: 63px;
  line-height: 50px;
  font-size: 13px;
  text-align: center;
 }

 .grid-6 {
  width: 20vw;
  height: 63px;
  float: right;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
 }

 ul {
 width: 20vw;
 height: 63px;
}

/* index.html
*/

.content1 {
  width: 100vw;
  height: 230px;
  background-color: white;
  margin-top:0;
}

.heading-index {
  width: 100vw;
  height: 60px;
  margin-top: 10px;
  margin-left: 25px;
}

h3 {
  font-size: 27px;
  left: 45px;
  margin:0px;
  line-height: 50px;
  color: #848484;
}

hr {
  top: 0;
  width: 100vw;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  decoration: none;
}

.search-form {
  margin-top: 10px;
  margin-left: 30px;
  width: 100vw;
  height: 60vw;
}

.form {
  width: 250px;
  height: 40px;
  left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: black;
  background-color: #DFDFDF;
  font-size: 18px;
}

li {
  list-style:  none;
}

input.search {
  width: 100vw;
  height: 45px;
  background-color: #333333;
  color: white;
  font-size: 18px;
  border:none;
}

.blank {
  width: 100vw;
  height: 350px;
  background-color: white;
}

/*
search.html
&
show.html
*/

.article {
  margin-top: 12px
}

.title {
  display: block;
  font-style: verdana;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 14px;
  color: #5C5959;
}
.author {
  font-style: verdana;
  margin-left: 18px;
  margin-right: 18px;
  font-size: 13px;
  color: #5C5959;
}

.date {
  font-family: open sans;
  font-size: 13px;
  color: #5C5959;
}

.inline {
  width: 92vw;
  border: solid;
  border-width: 1px;
  border-color: #E8E8E8;
}

.next-article {
  width: 100vw;
  border-width: 4.75px;
  border-color: #E8E8E8;
  border: solid #E8E8E8;
}

.favourited {
  margin-left: 187.5px;
  color: pink;
}
.nonfavourited {
  margin-left: 187.5px;
}

/*
show.html
*/
.brief-info {
  margin-left: 13px;
  margin-right: 13px;
}
.title-show {
  font-style: verdana;
  font-weight: 600;
  font-size: 17px;
  color: #5C5959;
}

.author-show {
  font-style: verdana;
  font-size: 16px;
  color: #5C5959;
  line-height: 18px;
}

.date-show {
  font-style: verdana;
  font-size: 16px;
  color: #5C5959;
}


.just-title {
  color: #626262;
  font-size: 30px;
  margin-top: 18px;
  margin-left: 30px;
  float:left;
}

.abstract {
  color: #5F5A5A;
  font-size: 20px;
  margin-top: 13px;
  margin-left: 13px;
  margin-right: 13px;
  line-height: 28px;
}



.modal {
  position: absolute;
  width: 375px;
  height: 1685px;
  background: #ddd;
  left: 0px;
  opacity: 0.8;
  top: 0px;
  margin: 0 auto;
  z-index: 1;
  display:none;
}


.comment > i:before {
  color: #5F5A5A;
  margin-left: 138px;
  float: left;
}

.modal-content {
  margin-top: 80px;
}

.modal-header {
  margin-left: 30px;
  margin-top: 100px;
  font-size: 22px;
  font-family: "CenturyGothic";
  float:left;
}

.close-button {
  margin-top: 80px;
  margin-right: 40px;
  float: right;
}

.close-button i:before{
  color: black;
}

.modal-body {
  clear: both;
}

.edit_favourite textarea {
  resize: none;
  cursor: none;
  background-color: white;
  border-radius: 6px;
  border-color: black;
  border-width: 3.5px;
  margin-right: 40px;
  margin-left: 30px;
  height: 70px;
  width: 80vw;
  font-size: 19px;
  opacity: 1.0;
  font-family: "CenturyGothic";
  text-indent: 8px;
}

.update-click {
  margin-top: 20px;
  text-decoration: none;
  float: left;
}

.update-click input {
  margin-left: 80px;
  font-size: 20px;
  font-family: "CenturyGothic";
  text-decoration: none;
  color: black;
  border: solid;
  border-radius: 6px;
}

.delete-click {
  float: left;
  margin-top: 26.5px;
  text-decoration: none;
}

.delete-click a {
  margin-top: 50px;
  margin-left: 50px;
  padding: 3.5px;
  font-size: 20px;
  font-family: "CenturyGothic";
  text-decoration: none;
  color: black;
  border: solid;
  border-radius: 6px;
}

.new_favourite textarea {
  resize: none;
  cursor: none;
  background-color: white;
  border-radius: 6px;
  border-color: black;
  border-width: 3.5px;
  margin-right: 40px;
  margin-left: 30px;
  height: 70px;
  width: 80vw;
  font-size: 19px;
  opacity: 1.0;
  font-family: "CenturyGothic";
  text-indent: 8px;
}

.create-click {
  width: 25px;
  height: 25px;
  margin-left: 280px;
  margin-right: 60px;
  border: solid;
  border-width: 3px;
  border-radius: 6px;
  font-family: "CenturyGothic";
  text-decoration: none;
  font-weight: bold;
}


.create-click input{
  font-size: 20px;
  margin: 0 auto;
  font-family: "CenturyGothic";
  text-decoration: none;
  font-weight: bold;
  color: black;
}



/*
log_in
*/

.border {
  top: 0;
  width: 100vw;
  border-width: 1px;
  border-color: #E8E8E8;
  margin-top: 0;
  margin-bottom: 0;
}
.contents {
  background-color: #2EEF5F;
  width: 100%;
  height: 100vw;
}

.heading-log_in{
  padding-top: 30px;

}

h2 {
  top: 45px;
  margin-left: 30px;
  font-size: 30px;
  font-family: "CenturyGothic";
  color: white ;
}

.field{
  background-color: #2EEF5F;
}

.field-log_in input {
  margin-top: 15px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}

.field-log_in label {
  display: inline-block;
  margin-top: 30px;
  margin-left: 42px;
  font-family: "CenturyGothic";
  font-size: 25px;
  color: white;
}

#email{
  margin-top: 0px;
}
.field-remember_me input {

  margin-right: 45px;
  margin-left: 45px;
  width: 18vw;
  height: 18px;
  size: 70px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #white;
  border-width: 2px;
  font-size: 20px;
   font-color: white;
  font-family: "CenturyGothic";
}


.field-remember_me label {
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
  margin-top: 15px;
  color: white;
  font-family: "CenturyGothic";
}
/*
.email input {
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}

.password input {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
}*/



.actions {
  width: 100vw;
  height: 45px;
  background-color: #333333;
  border:none;
  size: 45px;
  text-align: center;
  color: white;
}

.actions input {
  font-size: 18px;
  line-height: 45px;
  height: 45px;
}

.bottom-log-in {
  width: 375px;
  height: 500px;
  background-color: #2EEF5F;
}

/*
Sing_up
*/

.heading-sign_up {
  margin-bottom: 30px;
}

.field input {
  margin-bottom: 15px;
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  height: 35px;
  size: 90px;
  border-radius: 4px;
  border-color: #2E2E2E;
  background-color: #ECEBEB;
  border-width: 2px;
  font-size: 20px;
  color: white;
  clear: both;
}

.field label {
  display: inline-block;
  font-family: "CenturyGothic";
  font-size: 20px;
  margin-bottom: 7px;
  color: white;
  margin-left: 30px;
  clear: both;
}

em {
 display: inline-block;
  font-family: "CenturyGothic";
  font-size: 13px;
  margin-bottom: 7px;
  color: white; 
}

.form-control {
  padding-top: 43px;
}


.actions {
  width: 100vw;
  height: 45px;
  background-color: #333333;
  border:none;
  size: 45px;
  text-align: center;
  color: white;
}

.actions input {
  color: white;
  font-size: 18px;
  line-height: 5px;
}

